 @*=========================================================

 Andrew Snook

 Operating System: Windows 10

 Microsoft Visual Studio 2017 Enterprise

 CIS 174

 EmployeeManagement (Week 5)

 Program Description: This application allows the user to view and create database records containing employee information

 Academic Honesty:

 I attest that this is my original work.

 I have not used unauthorized source code, either modified or unmodified.

 I have not given other fellow student(s) access to my program.

===========================================================*@ 

@model AndrewSnook.CIS174.EmployeeManagementApp.Web.Models.CreateEmployeeModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create</title>
    <style>
        .btn {
            width: 133px;

        }
    </style>

</head>
<body>
    <form class="form form-horizontal container">
        <h2>Create Employee</h2>
        <br />

        <div>
            <div class="row form-group">
                <div class="col-md-2 font-weight-bold col-form-label">
                    @Html.Label("First Name")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 font-weight-bold col-form-label">
                    @Html.Label("Department")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2 font-weight-bold">
                    @Html.Label("Middle Initial")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.MiddleInitial, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 font-weight-bold ">
                    @Html.Label("Job Title")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2 font-weight-bold">
                    @Html.Label("Last Name")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 font-weight-bold ">
                    @Html.Label("Salary")
                </div>
                <div class="col-md-3 input-group">
                    @Html.TextBoxFor(model => model.Salary, "{0:0.00}", new { type = "number", @class = "form-control", step = "0.01" })
                    @Html.EnumDropDownListFor(model => model.SalaryType, "Salary Type", new { @class = "form-control" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2 font-weight-bold">
                    @Html.Label("Birth Date")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.BirthDate, "{0:mm/dd/yyyy}", new { type = "date", @class = "form-control" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 font-weight-bold ">
                    @Html.Label("Employee ID")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2 font-weight-bold">
                    @Html.Label("Hire Date")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.HireDate, new { type = "date", @class = "form-control" })
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 font-weight-bold ">
                    @Html.Label("Available Hours")
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.AvailableHours, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="last-row">
                <button class="btn btn-primary float-right" type="submit">Create</button>
                <button class="btn btn-secondary float-right" type="reset">Clear</button>
            </div>

        </div>
    </form>
</body>
</html>



