@model AndrewSnook.CIS174.EmployeeManagementApp.Web.Models.EmployeeDisplayModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="container">
        <h2>Employees</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First</th>
                        <th>Middle</th>
                        <th>Last</th>
                        <th>Hire Date</th>
                        <th>DOB</th>
                        <th>Salary</th>
                        <th>Sal. Type</th>
                        <th>Employee ID</th>
                        <th>Job Title</th>
                        <th>Dept.</th>
                        <th>Avail. Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>
                                @employee.FirstName
                            </td>
                            <td>
                                @employee.MiddleInitial
                            </td>
                            <td>
                                @employee.LastName
                            </td>
                            <td>
                                @employee.HireDate
                            </td>
                            <td>
                                @employee.BirthDate
                            </td>
                            <td>
                                @employee.Salary
                            </td>
                            <td>
                                @employee.SalaryType
                            </td>
                            <td>
                                @employee.EmployeeId
                            </td>
                            <td>
                                @employee.JobTitle
                            </td>
                            <td>
                                @employee.Department
                            </td>
                            <td>
                                @employee.AvailableHours
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row float-right last-row">
            <input type="button" class="btn btn-primary" value="Create New" onclick="location.href='@Url.Action("Create")'" />
        </div>

    </div>
</body>
</html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
<link href="~/Content/site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>